In [1]:
import os
from copy import deepcopy
from tqdm import tqdm
import scipy.stats as stat

import numpy as np
import pandas as pd

In [12]:
import datasets

In [24]:
dataset_base_path = "./"
dataset_name = "bio"
data = pd.read_csv('CASP.csv')

In [25]:
X, y = datasets.GetDataset(dataset_name, dataset_base_path)

In [26]:
data.head()

,RMSD,F1,F2,F3,F4,F5,F6,F7,F8,F9
0,17.284,13558.30,4305.35,0.31754,162.1730,1.872791e+06,215.3590,4287.87,102,27.0302
1,6.021,6191.96,1623.16,0.26213,53.3894,8.034467e+05,87.2024,3328.91,39,38.5468
2,9.275,7725.98,1726.28,0.22343,67.2887,1.075648e+06,81.7913,2981.04,29,38.8119
3,15.851,8424.58,2368.25,0.28111,67.8325,1.210472e+06,109.4390,3248.22,70,39.0651
4,7.962,7460.84,1736.94,0.23280,52.4123,1.021020e+06,94.5234,2814.42,41,39.9147

In [27]:
data.shape

(45730, 10)

In [28]:
np.sum(data.isnull())

RMSD    0
F1      0
F2      0
F3      0
F4      0
F5      0
F6      0
F7      0
F8      0
F9      0
dtype: int64

In [32]:
X

array([[1.35583e+04, 4.30535e+03, 3.17540e-01, ..., 4.28787e+03,
        1.02000e+02, 2.70302e+01],
       [6.19196e+03, 1.62316e+03, 2.62130e-01, ..., 3.32891e+03,
        3.90000e+01, 3.85468e+01],
       [7.72598e+03, 1.72628e+03, 2.23430e-01, ..., 2.98104e+03,
        2.90000e+01, 3.88119e+01],
       ...,
       [7.72665e+03, 2.48958e+03, 3.22200e-01, ..., 3.29046e+03,
        4.60000e+01, 3.74718e+01],
       [8.87893e+03, 3.05578e+03, 3.44160e-01, ..., 3.42179e+03,
        4.10000e+01, 3.56045e+01],
       [1.27324e+04, 4.44436e+03, 3.49050e-01, ..., 4.62685e+03,
        1.41000e+02, 2.98118e+01]], dtype=float32)

In [30]:
y

array([17.284,  6.021,  9.275, ..., 10.356,  9.791, 18.827], dtype=float32)